@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --Inter : "Inter", sans-serif;
    --Playfair-Display :  "Playfair Display", serif;
}
* {
    margin: 0;
    scroll-behavior: smooth;
}
.container {
    max-width: 1440px;
    margin:auto;
    padding: 0 15px;
}
img {
    width: 100%;
}

/* Header */

header {
    margin: 10px 0;
    /* background-color: #F9FAFB; */
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;  
}
header h1 {
    font-weight: 700;
    font-size: 24px;
    font-family: var(--Playfair-Display);
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--Inter);
    &:hover {
        color: #419D78;
    }
}
#HeaderProjects {
    color: #419D78;
}


/* Section 1 Projets */

#Projets {
    background-color: #F9FAFB;
    padding: 30px;
    margin: 15px 0;
}
#Projets h1 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
}
#Projets p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
#Projets img {
     object-fit: cover;
    height: 256px;
}

/* Mes projets */

#Mes-projets {
    box-shadow: 0px 2px 4px -2px #0000001A;
    box-shadow: 0px 4px 6px -1px #0000001A;
    width: 736px;
    height: 420px;
    border-radius: 8px;
}
#Mes-projets h2 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 20px;
    margin: 15px 20px;
}
#Mes-projets article h3 {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
    margin: 15px 20px;
}
#Mes-projets a {
    text-decoration: none;
    color: #419D78;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
    margin: 15px 20px;
}
.btn2 {
    border-radius: 9999px;
    border: none;
    padding: 5px 14px; 
    &:hover {
        scale: 1.1;
    } 
}
.Div-1 {
    margin: 70px 0;
    display: flex;
    justify-content: center;
    gap: 30px;  
}
.Div-2 {
    margin: 15px 20px;
}

/* Footer */

footer {
    background-color: #2D3047;
    padding: 30px;
}
footer h1 {
    color: white;
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0;
}
footer p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
    color: #9CA3AF;
;
}
footer i {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #FFFFFF1A;
    padding: 10px 10px;
    border-radius: 9999px;
    margin: 10px 0;
}
footer article {
    display: flex;
    justify-content: space-between;
}
#Icons {
    display: flex;
    justify-content: end;
    gap: 10px;
}
#github i:hover {
    background-color:#2D3047;
}
#linkedin i:hover {
    background-color: blue;
}
#instagram i:hover {
    background-color: pink;
}