@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --Inter : "Inter", sans-serif;
    --Playfair-Display :  "Playfair Display", serif;
}
* {
    margin: 0;
    /* scroll-behavior: smooth; */
}
.container {
    max-width: 1440px;
    margin:auto;
    padding: 0 15px;
}
img {
    width: 100%;
}

/* Header */

header {
    margin: 10px 0;
    /* background-color: #F9FAFB; */
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;  
}
header h1 {
    font-weight: 700;
    font-size: 24px;
    font-family: var(--Playfair-Display);
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--Inter);
    &:hover {
        color: #419D78;
    }
}
#Accueil {
    color: #419D78;
}

/*  Section 1 Introduction */

#Introduction {
    background: linear-gradient(90deg, rgba(45, 48, 71, 0.9) 0%, rgba(45, 48, 71, 0.7) 50%, rgba(45, 48, 71, 0) 100%), url("/IMG/imgbkc.jpg");
    height: 850px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
#Introduction article {
    position: relative;
    top: 25%;
}
#Introduction h1 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin: 10px 0;
}
#Introduction h2 {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin: 10px 0;
}
#Introduction p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 30px 0;
}
.btn1 a {
    color: white;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}
.btn1 {
    background-color: #419D78;
    border: none;
    border-radius: 8px;
    padding: 12px 14px;
    &:hover {
        color: white;
        background-color: #2D3047;
    }
}

/* Section 2 À propos */

#À-propos div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#À-propos h1 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 70px 0;
}
#À-propos h2 {
    font-family: var(--Playfair-Display);
    font-weight: 600;
    font-size: 24px;
}
#À-propos p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
}
#À-propos a {
    color: #419D78;
    text-decoration: none;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}

/* Mon parcours */

#MonParcours p {
    margin: 20px 0;
}
#MonParcours i {
    font-size: 20px;
}

/* Mes compétences */

#Mes-compétences i {
    font-size: 50px;
    margin: 20px 70px;
}
#Mes-compétences div {
    display: flex;
    justify-content: space-between;
}

/* Section 3 Projets */

#Projets {
    background-color: #F9FAFB;
    padding: 30px;
    margin: 70px 0;
}
#Projets h1 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
}
#Projets p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
#Projets img {
     object-fit: cover;
    height: 256px;
}

/* Mes projets */

#Mes-projets {
    box-shadow: 0px 2px 4px -2px #0000001A;
    box-shadow: 0px 4px 6px -1px #0000001A;
    width: 736px;
    height: 420px;
    border-radius: 8px;
}
#Mes-projets h2 {
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 20px;
    margin: 15px 20px;
}
#Mes-projets article h3 {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
    margin: 15px 20px;
}
#Mes-projets a {
    text-decoration: none;
    color: #419D78;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
    margin: 15px 20px;
}
.btn2 {
    border-radius: 9999px;
    border: none;
    padding: 5px 14px; 
    &:hover {
        scale: 1.1;
    } 
}
#btn3 a{
    color: white;
    text-decoration: none;font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}
#btn3 {
    background-color: #2D3047;
    border: none;
    border-radius: 8px;
    padding: 12px 14px;
    display: block;
    margin: auto;
    &:hover {
        color: white;
        background-color: #419D78;
    }
}
#Div-1 {
    margin: 70px 0;
    display: flex;
    justify-content: center;
    gap: 30px;  
}
#Div-2 {
    margin: 15px 20px;
}

/* Section 4 Contact */

#Contact {
    margin: 60px 0;
}
#Contact h1 { 
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 15px 0;
}
#Contact p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 50px 0;
}

/* Form */

form {
    background-color: #F9FAFB;
    box-shadow: 0px 1px 2px 0px #0000000D;
    width: 672px;
    height: 498px;
    border-radius: 16px;
}
form label {
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
}
form input  {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    width: 292px;
    height: 50px;
    
}
form textarea {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    width: 608px;
    height: 146px;
}
#submit {
    background-color: #419D78;
    color: white;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 16px;
    width: 216px;
    height: 48px;
    border-radius: 8px;
    &:hover {
        color: white;
        background-color: #2D3047;
    }
}


/* Footer */

footer {
    background-color: #2D3047;
    padding: 30px;
}
footer h1 {
    color: white;
    font-family: var(--Playfair-Display);
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0;
}
footer p {
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
    color: #9CA3AF;
;
}
footer i {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #FFFFFF1A;
    padding: 10px 10px;
    border-radius: 9999px;
    margin: 10px 0;
}
footer article {
    display: flex;
    justify-content: space-between;
}
#Icons {
    display: flex;
    justify-content: end;
    gap: 10px;
}
#github i:hover {
    background-color:#2D3047;
}
#linkedin i:hover {
    background-color: blue;
}
#instagram i:hover {
    background-color: pink;
}